:root {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    --text-color: rgb(8, 80, 148);
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
    overscroll-behavior: none;
}

button {
    padding: 0;
    border: none;
}

h2 {
    margin: 0 1rem;
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: lighter;
    color: white;
}

p {
    margin: 0 1rem;
    padding: 0;
    line-height: 1.5em;
    font-size: 1.1em;
    color: white;
}

section {
    padding: 3em 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 1em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.281);
    border: 2px dotted rgba(128, 128, 128, 0.253);
    margin: 2em .5em;
    background: rgba(255, 255, 255, 0.055);
}


form {
    margin: 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
}

input, textarea {
    color: white;
    background: linear-gradient(rgba(255, 255, 255, 0.124), transparent);
    padding: .5em;
    font-size: 1em;
    border-radius: .5em;
    border: none;
    box-shadow: 0 2px 2px rgba(50, 50, 50, 0.425);
    transition: all .1s ease;
}

input::placeholder {
    color: white;
}


@media (max-width: 800px) {
    section {
        padding: 2em 1em !important;
        margin: 0 .5em !important;
    }

    h2 {
        font-size: 1.8em !important;
        width: 100vw;
        text-align: left;
        margin: 0 !important;
    }

    p {
        margin: 0 !important;
    }

    form {
        margin: 0 !important;
    }
}